body,html {
  font-weight: 400;
  color: #333;
}
body {
  -webkit-font-smoothing: antialiased;
}
body a {
  color: #333;
  text-decoration: none;
}
body a:hover {
  opacity: 0.9;
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  line-height: 1.5em;
  vertical-align: baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}
ol,ul,li {
  list-style: none;
}
blockquote,q {
  quotes: none;
}
blockquote:after,blockquote:before,q:after,q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,td,th {
  text-align: left;
  vertical-align: middle;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .pc {
    display: none !important;
  }
}

@media screen and (min-width: 767px) {
  body {
    font-family: "IBM Plex Sans","Noto Sans JP",sans-serif;
    font-weight: 400;
    color: #333;
  }
  .sp {
    display: none;
  }
  #fv {
    padding: 120px 0 0;
    position: relative;
    background: #0065a9;
    &::before {
      content: "";
      display: block;
      background: url('/images/lp/lp01/fv_bg_pc.png') no-repeat #0065a9 80% 20px/1280px;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 720px;
    }
    .w_inner {
      justify-content: space-between;
      width: 870px;
      margin: 0 auto;
      .fv_top {
        position: relative;
        z-index: 1;
        h1 {
          text-align: center;
          color: #fff;
          margin-bottom: 24px;
          font-size: 72px;
          font-weight: 900;
          line-height: 100px;
        }
        .fv_intro {
          border-radius: 30px;
          color: #0066a8;
          font-size: 22px;
          width: 740px;
          margin: 0 auto 20px;
          padding: 7px 32px 7px 27px;
          line-height: 1;
          font-weight: 700;
          text-align: center;
        }
        .dl_wrap,.fv_intro {
          background: #fff;
          box-sizing: border-box;
        }
        .dl_wrap {
          width: 360px;
          height: 248px;
          border-radius: 8px;
          justify-content: center;
          align-items: center;
          .dl_box {
            display: flex;
            position: relative;
            padding: 31px 24px 0;
            .dl_catch {
              letter-spacing: 0.9px;
              color: #004b8c;
              font-size: 18px;
              font-weight: 700;
              line-height: 1.6;
            }
            .dl_image {
              width: 170px;
              position: absolute;
              right: 10px;
              top: -5px;
              img {
                width: 100%;
              }
              &::after {
                content: "無料";
                display: block;
                position: absolute;
                right: 6px;
                top: 24px;
                color: #fff;
                background: #00cd87;
                width: 37px;
                height: 37px;
                border-radius: 30px;
                font-size: 12px;
                font-weight: 700;
                padding: 7px 6px;
                box-sizing: border-box;
              }
            }
          }
        }
        .dl_button {
          background: #eb6100;
          color: #fff;
          box-shadow: 6px 6px 16px rgba(51, 51, 51, 0.16078);
          border-radius: 16px;
          // opacity: 1;
          text-align: center;
          letter-spacing: 1.8px;
          width: 296px;
          height: 88px;
          font-size: 18px;
          font-weight: 700;
          margin: 20px 32px 24px;
          & > a {
            display: block;
            cursor: pointer;
            color: #fff !important;
            padding: 31px 35px;
            box-sizing: border-box;
          }
          &:hover {
            background: #c85000;
          }
          &:active {
            background: #a04100;
          }
        }
      }

      .scroll {
        display: inline-block;
        z-index: 2;
        padding: 10px 10px 52px;
        overflow: hidden;
        color: #fff;
        line-height: 1;
        letter-spacing: 0.2em;
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
        &::after {
          background: #fff;
        }
        &::after,
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 1px;
          height: 40px;
        }
        &::before {
          background: hsla(0, 0%, 100%, 0.4);
        }
        &::after {
          -webkit-animation: sdl 1.5s cubic-bezier(1, 0, 0, 1)
            infinite;
          animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
        }
        @-webkit-keyframes sdl {
          0% {
            transform: scaleY(0);
            transform-origin: 0 0;
          }
          50% {
            transform: scale(1);
            transform-origin: 0 0;
          }
          50.1% {
            transform: scale(1);
            transform-origin: 0 100%;
          }
          to {
            transform: scaleY(0);
            transform-origin: 0 100%;
          }
        }
        @keyframes sdl {
          0% {
            transform: scaleY(0);
            transform-origin: 0 0;
          }
          50% {
            transform: scale(1);
            transform-origin: 0 0;
          }
          50.1% {
            transform: scale(1);
            transform-origin: 0 100%;
          }
          to {
            transform: scaleY(0);
            transform-origin: 0 100%;
          }
        }
      }
    }
  }

  #sec_01 {
    margin-bottom: 128px;
    .sec01_box01 {
      margin-bottom: 64px;
      &::before {
        justify-content: space-between;
        height: 440px;
        content: "";
        display: block;
        position: absolute;
        background: url(/images/lp/lp01/sec01_title02.png) #f2f2f2 no-repeat 200%
          50%/740px;
        width: 720px;
        z-index: -1;
      }
      .box01_item01 {
        width: 49%;
        margin-left: auto;
        padding: 80px 0 0;
        height: 440px;
        h2 {
          position: relative;
          text-align: left;
          line-height: 46px;
          letter-spacing: 4.8px;
          font-size: 24px;
          margin-bottom: 24px;
          font-weight: 700;
          &::after {
            content: "";
            display: block;
            width: 32px;
            height: 8px;
            margin-top: 18px;
            background: #0065a9 0 0 no-repeat padding-box;
          }
          span {
            position: relative;
            background: linear-gradient(transparent 50%, #ffebe1 0);
          }
          p {
            text-align: left;
            letter-spacing: 0.8px;
            color: #191919;
            opacity: 1;
            line-height: 1.8;
            font-size: 16px;
          }
        }
      }
    }
    .sec01_box02 {
      position: relative;
      width: 1088px;
      margin: 0 auto;
      padding-bottom: 31px;
      .box02_item01 {
        margin-right: auto;
        margin-bottom: 47px;
        position: relative;
        width: 100%;
        h3 {
          text-align: center;
          font-size: 20px;
          letter-spacing: 1px;
          margin: 0 0 45px;
          line-height: 1;
          font-weight: 700;
          span.note {
            display: block;
            font-size: 12px;
            text-align: right;
            margin-right: 24px;
          }
        }
        .item01_graph01 {
          display: flex;
          li {
            width: 46%;
            &:last-child {
              margin-left: auto;
            }
            h4 {
              font-size: 18px;
              font-weight: 700;
              letter-spacing: 0.9px;
              line-height: 1.8;
              position: relative;
              padding-left: 22px;
              &::before {
                content: "";
                display: block;
                position: absolute;
                width: 6px;
                height: 96px;
                background: #0065a9;
                left: 0;
              }
              span {
                color: #0065a9;
              }
            }
            img {
              width: 454px;
            }
          }
        }
      }
      .box02_item02 {
        position: relative;
        // width: 100%;
        width: 1088px;
        margin: 0 auto;
        padding-bottom: 31px;
        h3 {
          text-align: center;
          font-size: 20px;
          letter-spacing: 1px;
          margin: 0 0 45px;
          line-height: 1;
          font-weight: 700;
        }
        .item02_graph01 {
          display: flex;
          li {
            width: 46%;
            &:last-child {
              margin-left: auto;
            }
            h4 {
              font-size: 18px;
              font-weight: 700;
              letter-spacing: 0.9px;
              line-height: 1.8;
              position: relative;
              padding-left: 22px;
              margin-bottom: 8px;
              &::before {
                content: "";
                display: block;
                position: absolute;
                width: 6px;
                height: 68px;
                background: #0065a9;
                left: 0;
              }
              span {
                color: #0065a9;
              }
            }
            img {
              width: 454px;
            }
          }
        }
      }
    }
    .sec01_box03 {
      position: relative;
      margin: 0 auto;
      text-align: center;
      h3 {
        background: #e1f0fa;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 3.6px;
        text-align: center;
        height: 56px;
        justify-content: center;
        align-items: center;
        display: flex;
      }
      .box03_item01 {
        position: relative;
        width: 100%;
        background: #0065a9;
        padding: 40px 0;
        h4 {
          color: #fff;
          font-size: 32px;
          font-weight: 700;
          letter-spacing: 3.2px;
          margin-bottom: 26px;
        }
        .item01_dlbox {
          display: flex;
          justify-content: center;
          max-width: 970px;
          margin: 0 auto;
          .dlbox01 {
            margin-right: 40px;
            width: 464px;
            .dlbox01_title {
              background: #e1f0fa;
              color: #004b8c;
            }
            .dlbox01_title {
              font-size: 16px;
              font-weight: 700;
              letter-spacing: 2.4px;
              height: 56px;
              border-radius: 8px 8px 0 0;
              justify-content: center;
              align-items: center;
              display: flex;
            }
            .dlbox01_body {
              position: relative;
              height: 208px;
              box-sizing: border-box;
              border-radius: 0 0 8px 8px;
              background: #fff;
              padding-bottom: 24px;
              ul {
                display: grid;
                padding-top: 18px;
                flex-wrap: wrap;
                margin-left: auto;
                width: auto;
                box-sizing: border-box;
                grid-template-rows: repeat(3,1fr);
                grid-template-columns: repeat(2,1fr);
                grid-auto-flow: column;
                padding: 16px 74px 8px;
                li {
                  font-size: 14px;
                  font-weight: 700;
                  text-align: left;
                  letter-spacing: 0.7px;
                  line-height: 1.5;
                  list-style: disc;
                  width: 100%;
                }
              }
              .image {
                position: absolute;
                right: 0;
                top: 0;
                img {
                  position: absolute;
                  right: 10px;
                  top: -40px;
                  width: 158px;
                }
                &::after {
                  content: "無料";
                  display: block;
                  position: absolute;
                  right: 16px;
                  top: 50px;
                  color: #fff;
                  background: #00cd87;
                  width: 37px;
                  height: 37px;
                  border-radius: 30px;
                  font-size: 12px;
                  font-weight: 700;
                  padding: 7px 0;
                  box-sizing: border-box;
                }
              }
              .dl_button {
                background: #eb6100;
                color: #fff;
                box-shadow: 6px 6px 16px rgba(51, 51, 51, 0.16078);
                border-radius: 16px;
                opacity: 1;
                text-align: center;
                letter-spacing: 1.8px;
                width: 296px;
                height: 88px;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                font-weight: 700;
                margin: 0 auto;
                display: block;
                cursor: pointer;
                padding: 30px;
                box-sizing: border-box;
                &:hover {
                  background: #c85000 !important;
                }
                &:active {
                  background: #a04100 !important;
                }
              }
            }
          }
          .dlbox02 {
            width: 464px;
            .dlbox02_title {
              font-size: 16px;
              font-weight: 700;
              letter-spacing: 2.4px;
              height: 56px;
              border-radius: 8px 8px 0 0;
              justify-content: center;
              align-items: center;
              display: flex;
              background: #ffebe1;
              color: #c85000;
              }
            }
            .dlbox02_body {
              position: relative;
              height: 208px;
              box-sizing: border-box;
              border-radius: 0 0 8px 8px;
              background: #fff;
              padding-bottom: 24px;
              ul {
                display: flex;
                position: relative;
                padding: 24px 52px;
                flex-wrap: wrap;
                li {
                  font-size: 14px;
                  font-weight: 700;
                  text-align: left;
                  letter-spacing: 0.7px;
                  line-height: 1.5;
                  list-style: disc;
                  width: 100%;
                }
              }
              .image {
                position: absolute;
                right: 0;
                top: 0;
                img {
                  position: absolute;
                  right: 20px;
                  top: -30px;
                  width: 112px;
                }
                &::after {
                  content: "無料";
                  display: block;
                  position: absolute;
                  right: 16px;
                  top: 50px;
                  color: #fff;
                  background: #00cd87;
                  width: 37px;
                  height: 37px;
                  border-radius: 30px;
                  font-size: 12px;
                  font-weight: 700;
                  padding: 7px 0;
                  box-sizing: border-box;
                }
              }
              .dl_button {
                background: #eb6100;
                color: #fff;
                box-shadow: 6px 6px 16px rgba(51, 51, 51, 0.16078);
                border-radius: 16px;
                opacity: 1;
                text-align: center;
                letter-spacing: 1.8px;
                width: 296px;
                height: 88px;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                font-weight: 700;
                margin: 0 auto;
                display: block;
                cursor: pointer;
                padding: 30px;
                box-sizing: border-box;
                &:hover {
                  background: #c85000 !important;
                }
                &:active {
                  background: #a04100 !important;
                }
              }
            }
          }
        }
      }
    }

  #sec_02 {
    position: relative;
    padding-bottom: 128px;
    .sec02_box01 {
      height: 440px;
      margin: 0 auto 64px;
      justify-content: space-between;
      width: 960px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        background: url(/images/lp/lp01/sec02_title.png) #f2f2f2 no-repeat 50%
          50%/414px;
        justify-content: space-between;
        width: 60%;
        height: 440px;
        z-index: -1;
      }
      .box01_item01 {
        width: 50%;
        padding: 125px 0 0;
        h2 {
          position: relative;
          text-align: left;
          line-height: 46px;
          letter-spacing: 4.8px;
          font-size: 24px;
          margin-bottom: 24px;
          font-weight: 700;
          &:after {
            content: "";
            display: block;
            width: 32px;
            height: 8px;
            margin-top: 18px;
            background: #0065a9 0 0 no-repeat padding-box;
          }
          span {
            position: relative;
            &:before {
              content: "";
              position: absolute;
              left: 0;
              bottom: -5px;
              width: 100%;
              height: 15px;
              background: #ffebe1;
              z-index: -1;
            }
          }
        }
        p {
          text-align: left;
          letter-spacing: 0.8px;
          color: #191919;
          opacity: 1;
          line-height: 1.8;
          font-size: 16px;
        }
      }
    }
    .sec02_box02 {
      margin: 0 auto;
      justify-content: space-between;
      width: 960px;
      .box02_item01 {
        position: relative;
        width: 960px;
        text-align: center;
        padding-bottom: 84px;
        ul {
          text-align: center;
          margin: 0 auto;
          font-size: 0;
          li.item01_group:nth-child(odd) {
            display: flex;
            position: relative;
            p.text {
              color: #0065a9;
              font-size: 16px;
              font-weight: 700;
              letter-spacing: 1.6px;
              align-items: center;
              display: flex;
              text-align: left;
              margin-left: 32px;
            }
          }

          li.item01_group:nth-child(2n) {
            display: flex;
            position: relative;
            margin-left: auto;
            justify-content: flex-end;
            p.text {
              color: #eb6100;
              font-size: 16px;
              font-weight: 700;
              letter-spacing: 1.6px;
              align-items: center;
              display: flex;
              text-align: right;
              margin-right: 32px;
            }
          }
          li.item01_group:nth-child(odd):after {
            content: "";
            display: block;
            position: absolute;
            background: url(/images/lp/lp01/line01.png) no-repeat 100%/100%;
            width: 504px;
            height: 58px;
            bottom: -40px;
            left: 210px;
          }
          li.item01_group:nth-child(2):after {
            content: "";
            display: block;
            position: absolute;
            background: url(/images/lp/lp01/line02.png) no-repeat 100%/100%;
            width: 504px;
            height: 58px;
            bottom: -40px;
            left: 210px;
          }
        }
        .circle {
          position: relative;
          width: 208px;
          height: 208px;
          background: #f2f2f2 0 0 no-repeat padding-box;
          opacity: 1;
          border-radius: 110px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          vertical-align: middle;
          letter-spacing: 0.8px;
          color: #191919;
          z-index: -1;
          font-size: 16px;
          font-weight: 700;
          .number {
            position: absolute;
            top: -10px;
            right: 10px;
            width: 112px;
          }
          p {
            margin-top: 20px;
          }
          .bottom {
            width: 140px;
            position: absolute;
            bottom: -60px;
          }
        }
      }
      .box02_item02 {
        position: relative;
        width: 960px;
        text-align: center;
        margin-bottom: 72px;
        p {
          text-align: center;
          font-size: 16px;
          letter-spacing: 0.8px;
          color: #191919;
          opacity: 1;
          padding-bottom: 24px;
          line-height: 1.5;
        }
        .item02_image {
          margin: 0 24px;
          img {
            width: 100%;
          }
        }
      }
      .box02_item03 {
        margin-bottom: 120px;
        ul {
          margin: 0 auto;
          letter-spacing: -0.4em;
          li {
            text-align: center;
            border-radius: 32px;
            padding-top: 32px;
            box-sizing: border-box;
            width: 460px;
            height: 256px;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 40px;
            p {
              font-size: 18px;
              letter-spacing: 1.8px;
              color: #191919;
              line-height: 1.8;
              font-weight: 700;
            }

            &:nth-child(2n) {
              margin-left: 40px;
              background: #f2f2f2;

            }
            &:nth-last-child(-n + 2) {
              margin-bottom: 0;
              background: #f2f2f2;
            }

            &:first-child,
            &:last-child {
              background: #e1f0fa;
            }

            img {
              width: 210px;
              height: auto;
            }
          }
        }
      }
      h3 {
        text-align: center;
        letter-spacing: 3.6px;
        color: #191919;
        opacity: 1;
        margin: 0 0 24px;
        line-height: 1;
        font-size: 18px;
        font-weight: 700;
      }
    }
    //↓コンポーネント化したいかも
    .sec01_box03 {
      position: relative;
      margin: 0 auto;
      text-align: center;
      .box03_item01 {
        position: relative;
        width: 100%;
        background: #f2f2f2;
        padding: 40px 0;
        h4 {
          color: #004b8c;
          font-size: 32px;
          font-weight: 700;
          letter-spacing: 3.2px;
          margin-bottom: 26px;
        }
        .item01_dlbox {
          display: flex;
          justify-content: center;
          max-width: 970px;
          margin: 0 auto;
          .dlbox01 {
            margin-right: 40px;
            width: 464px;
            .dlbox01_title {
              background: #004b8c;
              color: #fff;
              font-size: 16px;
              font-weight: 700;
              letter-spacing: 2.4px;
              height: 56px;
              border-radius: 8px 8px 0 0;
              justify-content: center;
              align-items: center;
              display: flex;
            }
            .dlbox01_body {
              position: relative;
              height: 208px;
              box-sizing: border-box;
              border-radius: 0 0 8px 8px;
              background: #fff;
              padding-bottom: 24px;
              ul {
                display: grid;
                padding: 18px 74px;
                flex-wrap: wrap;
                margin-left: auto;
                width: auto;
                box-sizing: border-box;
                grid-template-rows: repeat(3,1fr);
                grid-template-columns: repeat(2,1fr);
                grid-auto-flow: column;
                padding: 16px 74px 8px;
                li {
                  font-size: 14px;
                  font-weight: 700;
                  text-align: left;
                  letter-spacing: 0.7px;
                  line-height: 1.5;
                  list-style: disc;
                  width: 100%;
                }
              }
              .image {
                position: absolute;
                right: 0;
                top: 0;
                img {
                  position: absolute;
                  right: 10px;
                  top: -40px;
                  width: 158px;
                }
                &::after {
                  content: "無料";
                  display: block;
                  position: absolute;
                  right: 6px;
                  top: 40px;
                  color: #fff;
                  background: #00cd87;
                  width: 37px;
                  height: 37px;
                  border-radius: 30px;
                  font-size: 12px;
                  font-weight: 700;
                  padding: 7px 0;
                  box-sizing: border-box;
                }
              }
              .dl_button {
                background: #eb6100;
                color: #fff;
                box-shadow: 6px 6px 16px rgba(51, 51, 51, 0.16078);
                border-radius: 16px;
                opacity: 1;
                text-align: center;
                letter-spacing: 1.8px;
                width: 296px;
                height: 88px;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                font-weight: 700;
                margin: 0 auto;
                display: block;
                cursor: pointer;
                padding: 30px;
                box-sizing: border-box;
                &:hover {
                  background: #c85000 !important;
                }
                &:active {
                  background: #a04100 !important;
              }
              }
            }
          }
          .dlbox02 {
            width: 464px;
            .dlbox02_title {
              background: #004b8c;
              color: #fff;
              font-size: 16px;
              font-weight: 700;
              letter-spacing: 2.4px;
              height: 56px;
              border-radius: 8px 8px 0 0;
              justify-content: center;
              align-items: center;
              display: flex;
            }
            .dlbox02_body {
              position: relative;
              height: 208px;
              box-sizing: border-box;
              border-radius: 0 0 8px 8px;
              background: #fff;
              padding-bottom: 24px;
              ul {
                display: flex;
                position: relative;
                padding: 24px 52px;
                flex-wrap: wrap;
                li {
                  font-size: 14px;
                  font-weight: 700;
                  text-align: left;
                  letter-spacing: 0.7px;
                  line-height: 1.5;
                  list-style: disc;
                  width: 100%;
                }
              }
              .image {
                position: absolute;
                right: 10px;
                top: -30px;
                img {
                  width: 112px;
                }
                &::after {
                  content: "無料";
                  display: block;
                  position: absolute;
                  right: 6px;
                  top: 90px;
                  color: #fff;
                  background: #00cd87;
                  width: 37px;
                  height: 37px;
                  border-radius: 30px;
                  font-size: 12px;
                  font-weight: 700;
                  padding: 7px 0;
                  box-sizing: border-box;
                }
              }
              .dl_button {
                background: #eb6100;
                color: #fff;
                box-shadow: 6px 6px 16px rgba(51, 51, 51, 0.16078);
                border-radius: 16px;
                opacity: 1;
                text-align: center;
                letter-spacing: 1.8px;
                width: 296px;
                height: 88px;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                font-weight: 700;
                margin: 0 auto;
                display: block;
                cursor: pointer;
                padding: 30px;
                box-sizing: border-box;
                &:hover {
                  background: #c85000 !important;
                }
                &:active {
                  background: #a04100 !important;
                }
              }
            }
          }
        }
      }
    }
  }

  #sec_03 {
    position: relative;
    padding-bottom: 80px;
    .sec03_box01 {
      margin-bottom: 64px;
      justify-content: space-between;
      height: 440px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        background: url(/images/lp/lp01/sec03_title.png) #f2f2f2 no-repeat 20%
          50%/573px;
        width: 60%;
        height: 440px;
        z-index: -1;
        background-position: right 100px bottom 0;
      }
      .box01_item01 {
        width: 47%;
        margin-left: auto;
        padding: 125px 0 0 20px;
        h2 {
          position: relative;
          text-align: left;
          line-height: 46px;
          letter-spacing: 4.8px;
          font-size: 24px;
          margin-bottom: 24px;
          font-weight: 700;
          &::after {
            content: "";
            display: block;
            width: 32px;
            height: 8px;
            margin-top: 18px;
            background: #0065a9 0 0 no-repeat padding-box;
          }
          span {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              left: 0;
              bottom: -5px;
              width: 100%;
              height: 15px;
              background: #ffebe1;
              z-index: -1;
            }
          }
        }
        p {
          text-align: left;
          letter-spacing: 0.8px;
          color: #191919;
          opacity: 1;
          line-height: 1.8;
          font-size: 16px;
        }
      }
    }
    .sec03_box02 {
      position: relative;
      .box02_item01 {
        position: relative;
        margin: 0 auto;
        max-width: 1024px;
        h3 {
          text-align: center;
          letter-spacing: 3.6px;
          color: #191919;
          opacity: 1;
          margin: 0 0 24px;
          line-height: 1;
          font-size: 18px;
          font-weight: 700;
        }
        ul {
          text-align: center;
          width: 100%;
          margin: 0 auto;
          letter-spacing: -0.4em;
          li {
            width: 304px;
            height: auto;
            border-radius: 100px;
            display: inline-block;
            justify-content: center;
            align-items: center;
            vertical-align: middle;
            margin-bottom: 24px;
            margin-right: 24px;
            p {
              background-color: #f2f2f2;
              border-radius: 32px 32px 0 0;
              padding: 32px 0;
              margin-bottom: 8px;
              opacity: 1;
              font-size: 16px;
              font-weight: 700;
              letter-spacing: 3.2px;
            }
            &:nth-child(3n) {
              margin-right: 0;
            }
          }
        }
        .bottom {
          width: 304px;
          height: auto;
          border-radius: 0 0 24px 24px;
        }
      }
      .box02_item02 {
        position: relative;
        margin: 0 auto;
        max-width: 1024px;
        h3 {
          text-align: center;
          letter-spacing: 3.6px;
          color: #191919;
          opacity: 1;
          margin: 0 0 24px;
          line-height: 1;
          font-size: 18px;
          font-weight: 700;
        }
        .item02_company {
          display: flex;
          position: relative;
          justify-content: center;
          .company_intro {
            width: 417px;
            height: 536px;
            background: #fff;
            box-shadow: 4px 4px 16px rgba(51, 51, 51, 0.16078);
            padding: 87px 0 0;
            box-sizing: border-box;
            z-index: 10;
            position: relative;
            .logo {
              width: 166px;
              height: auto;
              margin: 0 auto 81px;
              display: block;
            }
            .intro {
              font-size: 18px;
              font-weight: 900;
              color: #191919;
              letter-spacing: 3.6px;
              line-height: 1.8;
              margin: 0 0 32px 27px;
            }
            .name {
              font-size: 18px;
              font-weight: 900;
              color: #191919;
              letter-spacing: 3.6px;
              letter-spacing: 0.54px;
              margin-left: 27px;
            }
          }
          .company_voice {
            width: 632px;
            height: 536px;
            background: url(/images/lp/lp01/sec03_restaurant_img_pc.png) no-repeat
              100%/100%;
            padding: 47px 48px 48px 124px;
            box-sizing: border-box;
            letter-spacing: 0.7px;
            line-height: 2.1;
            font-size: 14px;
            color: #191919;
            margin-left: -90px;
            margin-top: 20px;
            span {
              color: #eb6100;
              font-weight: 900;
            }
          }
        }
      }
    }
  }

  #sec_04 {
    position: relative;
    padding-bottom: 100px;
    .sec04_box01 {
      width: 960px;
      margin: 0 auto;
      padding-bottom: 128px;
      &::before {
        justify-content: space-between;
        height: 440px;
        content: "";
        display: block;
        position: absolute;
        right: 0;
        background: url(/images/lp/lp01/sec04_title.png) #f2f2f2 no-repeat 100% 100%/100%;
        width: 60%;
        z-index: -1;
      }
      .box01_item01 {
        padding: 110px 0 0;
        h2 {
          position: relative;
          text-align: left;
          line-height: 46px;
          letter-spacing: 4.8px;
          font-size: 24px;
          margin-bottom: 24px;
          font-weight: 700;
          &::after {
            content: "";
            display: block;
            width: 32px;
            height: 8px;
            margin-top: 18px;
            background: #0065a9 0 0 no-repeat padding-box;
          }
          span {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              left: 0;
              bottom: -5px;
              width: 100%;
              height: 15px;
              background: #ffebe1;
              z-index: -1;
            }
          }
        }
        p {
          padding-bottom: 16px;
          text-align: left;
          letter-spacing: 0.8px;
          color: #191919;
          opacity: 1;
          line-height: 1.8;
          font-size: 16px;
        }
        a {
          text-align: left;
          letter-spacing: 0.65px;
          color: #0065a9;
          text-decoration: underline;
          cursor: pointer;
          font-size: 13px;
          font-weight: 700;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .sec01_box03 {
      position: relative;
      margin: 0 auto;
      text-align: center;
      .box03_item01 {
        position: relative;
        width: 100%;
        background: #0065a9;
        padding: 40px 0;
        h4 {
          color: #fff;
          font-size: 32px;
          font-weight: 900;
          letter-spacing: 3.2px;
          margin-bottom: 26px;
          text-align: center;
        }
        .item01_dlbox {
          display: flex;
          justify-content: center;
          .dlbox01 {
            margin-right: 40px;
            width: 464px;
            .dlbox01_title {
              background: #e1f0fa;
              color: #004b8c;
              font-size: 18px;
              font-weight: 900;
              letter-spacing: 2.7px;
              height: 56px;
              border-radius: 8px 8px 0 0;
              justify-content: center;
              align-items: center;
              display: flex;
            }
            .dlbox01_body {
              position: relative;
              height: 170px;
              box-sizing: border-box;
              border-radius: 0 0 8px 8px;
              background: #fff;
              ul {
                display: grid;
                position: relative;
                padding-top: 38px;
                flex-wrap: wrap;
                margin-left: auto;
                width: 286px;
                box-sizing: border-box;
                grid-template-rows: repeat(3,1fr);
                grid-template-columns: repeat(2,1fr);
                grid-auto-flow: column;
                li {
                  font-size: 16px;
                  font-weight: 900;
                  text-align: left;
                  letter-spacing: 0.8px;
                  line-height: 1.8;
                  margin-left: 10px;
                  &::before {
                    position: relative;
                    top: -2px;
                    left: -8px;
                    display: inline-block;
                    width: 5px;
                    height: 5px;
                    content: "";
                    border-radius: 100%;
                    background: #191919;
                  }
                }
              }
              .image {
                position: absolute;
                left: 0;
                top: 0;
                img {
                  position: absolute;
                  left: -20px;
                  top: -20px;
                  width: 206px;
                }
                &::after {
                  left: 10px;
                  top: 100px;
                }
                &::after {
                  content: "無料";
                  display: block;
                  position: absolute;
                  color: #fff;
                  background: #00cd87;
                  width: 54px;
                  height: 54px;
                  border-radius: 50px;
                  font-size: 17px;
                  font-weight: 700;
                  padding: 15px 0;
                  box-sizing: border-box;
                }
              }
            }
          }
          .dlbox02 {
            width: 464px;
            .dlbox02_title {
              font-size: 18px;
              font-weight: 900;
              letter-spacing: 2.7px;
              height: 56px;
              border-radius: 8px 8px 0 0;
              justify-content: center;
              align-items: center;
              display: flex;
              background: #ffebe1;
              color: #c85000;
            }
            .dlbox02_body {
              position: relative;
              height: 170px;
              box-sizing: border-box;
              border-radius: 0 0 8px 8px;
              background: #fff;
              ul {
                display: flex;
                position: relative;
                padding: 38px 52px;
                flex-wrap: wrap;
                li {
                  font-size: 16px;
                  font-weight: 900;
                  text-align: left;
                  letter-spacing: 0.8px;
                  line-height: 1.8;
                  margin-left: 10px;
                  &::before {
                    position: relative;
                    top: -2px;
                    left: -8px;
                    display: inline-block;
                    width: 5px;
                    height: 5px;
                    content: "";
                    border-radius: 100%;
                    background: #191919;
                  }
                }
              }
              .image {
                position: absolute;
                right: 0;
                top: 0;
                img {
                  position: absolute;
                  right: 20px;
                  top: -10px;
                  width: 130px;
                }
                &::after {
                  content: "無料";
                  display: block;
                  position: absolute;
                  top: 90px;
                  right: 10px;
                  color: #fff;
                  background: #00cd87;
                  width: 54px;
                  height: 54px;
                  border-radius: 50px;
                  font-size: 17px;
                  font-weight: 700;
                  padding: 15px 0;
                  box-sizing: border-box;
                }
              }
            }
          }
        }
      }
    }
  }
}

